/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSansSemiBold.woff"); }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.woff"); }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.woff"); }

@font-face {
  font-family: "Fira Sans Light";
  src: url("../fonts/FiraSans-Light.woff"); }

@font-face {
  font-family: "Fira Sans Medium";
  src: url("../fonts/FiraSans-Medium.woff"); }

@font-face {
  font-family: "Fira Sans Bold";
  src: url("../fonts/FiraSans-Bold.woff"); }

@font-face {
  font-family: "Font Awesome";
  src: url("../fonts/fontawesome-webfont.woff"); }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6; }

html {
  width: 100%;
  height: 100%; }

.container {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  width: 100%; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 21px; }

.container-header {
  align-items: center;
  min-height: 80px; }

.name {
  display: flex;
  flex-direction: row;
  align-items: center; }

.avatar {
  width: 60px;
  height: 60px;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #bebebe;
  overflow: hidden;
  margin-right: 19px; }

.avatar__image {
  width: 100%; }

.name__title {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  color: #727272;
  line-height: 1.5; }

.communications {
  margin-left: auto;
  position: relative; }

.contacts {
  margin-top: 3px; }

.contacts__switcher {
  font-family: "Fira Sans Bold", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #33c1e3;
  padding-bottom: 1px;
  border-bottom: 1px dotted #33c1e3;
  transition: all 0.1s 0.1s ease-in; }

.contacts-wrapper {
  position: absolute;
  opacity: 0;
  top: 36px;
  left: -37px;
  border: 1px solid #dedede;
  padding-right: 11px;
  padding-top: 9px;
  padding-left: 46px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.1s 0.1s ease-in;
  visibility: hidden; }

.contacts-wrapper::before {
  content: "";
  display: block;
  width: 10px;
  height: 9px;
  position: absolute;
  background: #fff;
  border: 1px solid #dedede;
  transform: rotate(42deg);
  border-right: 0;
  border-bottom: 0;
  top: -6px;
  left: 50%;
  margin-left: -4px; }

.communications:hover .contacts-wrapper {
  opacity: 1;
  visibility: visible;
  z-index: 1000; }

.communications:hover .contacts__switcher {
  color: #e85f61;
  border-color: #e85f61; }

.contacts-mobile__link {
  text-decoration: none;
  display: none; }

.contacts-mobile__icon {
  width: 31px;
  height: 31px;
  fill: #33c1e3; }

.contacts-mobile:hover .contacts-mobile__link::after {
  color: #e85f61; }

.communications::after {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px; }

.contacts__item {
  margin-bottom: 16px; }

.contacts__list :last-child {
  margin-bottom: 7px; }

.contacts-list__link {
  font-family: "Fira Sans Light", sans-serif;
  font-size: 18px;
  position: relative;
  line-height: 1.556;
  display: block;
  text-decoration: none;
  color: #414141; }

.contacts__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: -29px;
  top: 4px;
  fill: #33c1e3; }

.contacts-list__link::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 20px;
  left: -15px; }

@media screen and (max-width: 992px) {
  .header {
    margin-bottom: 6px; }
  .container {
    max-width: 928px;
    padding: 0; }
  .avatar {
    margin-left: 21px; }
  .contacts__switcher {
    margin-right: 20px; }
  .contacts-wrapper {
    padding-right: 2px;
    padding-left: 30px;
    left: -22px; }
  .contacts-list__link {
    font-size: 16px; } }

@media screen and (max-width: 576px) {
  .header {
    margin-bottom: 11px; }
  .name__title {
    font-size: 14px;
    margin-top: 0px;
    width: 70px; }
  .avatar {
    margin-left: 10px; }
  .communications {
    margin-right: 11px; }
  .contacts, .contacts-wrapper {
    display: none; }
  .contacts-mobile__link {
    display: block; } }

.nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 14px;
  padding-left: 8px; }

.nav__item {
  position: relative; }

.nav__link {
  display: block;
  position: relative;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.333;
  color: #727272;
  margin-bottom: 21px;
  transition: all 0.1s ease-in; }

.nav__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 26px;
  height: 100%;
  left: -15px; }

.nav__icon {
  width: 19px;
  height: 18px;
  position: absolute;
  left: -25px;
  top: 0;
  fill: #414141;
  transition: all 0.1s ease-in; }

.nav__icon_portfolio {
  left: -28px; }

.nav__icon_career {
  top: 1px; }

.nav__item:hover .nav__icon {
  fill: #33c1e3; }

.nav__item:hover .nav__link {
  color: #33c1e3; }

.wrapper-about .nav__link_about {
  font-family: "Fira Sans Bold", sans-serif;
  color: #33c1e3; }

.wrapper-about .nav__link_about::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 6px;
  height: 44px;
  background-color: #33c1e3;
  top: -11px;
  margin-left: 24px; }

.wrapper-about .nav__icon_about {
  fill: #33c1e3; }

.wrapper-career .nav__link_career {
  font-family: "Fira Sans Bold", sans-serif;
  color: #33c1e3; }

.wrapper-career .nav__link_career::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 6px;
  height: 44px;
  background-color: #33c1e3;
  top: -11px;
  margin-left: 24px; }

.wrapper-career .nav__icon_career {
  fill: #33c1e3; }

.wrapper-portfolio .nav__link_portfolio {
  font-family: "Fira Sans Bold", sans-serif;
  color: #33c1e3; }

.wrapper-portfolio .nav__link_portfolio::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 6px;
  height: 44px;
  background-color: #33c1e3;
  top: -11px;
  margin-left: 24px; }

.wrapper-portfolio .nav__icon_portfolio {
  fill: #33c1e3; }

@media screen and (max-width: 992px) {
  .nav {
    width: 100%;
    padding-left: 19px;
    margin-bottom: 36px; }
  .nav__link {
    margin-bottom: 0; }
  .nav__list {
    width: 100%;
    flex-flow: row wrap;
    margin-top: 6px; }
  .nav__item {
    margin-right: 54px; }
  .nav__link::after {
    display: none; } }

@media screen and (max-width: 576px) {
  .nav {
    padding: 0;
    margin-bottom: 20px; }
  .nav__list {
    padding: 0;
    justify-content: center; }
  .nav__item {
    margin-right: 18px; }
  .nav__link {
    font-size: 14px; }
  .nav__icon {
    display: none; } }

.footer {
  width: 100%;
  background-color: #414141;
  color: #727272; }

.container-footer {
  min-height: 50px;
  align-items: center; }

.secret {
  display: flex;
  flex-direction: row; }

.secret__info {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Fira Sans", sans-serif; }
  .secret__info::before {
    content: "\00a9";
    padding-right: 3px;
    padding-left: 2px; }

.footer__social {
  margin-left: auto; }

.footer__list {
  display: flex;
  flex-flow: row wrap; }

.footer__item {
  margin-left: 7px; }

.footer__icon {
  width: 31px;
  height: 30px;
  fill: #9c9c9c;
  transition: all .1s ease-in; }

.footer__icon_facebook:hover {
  fill: #4462a8; }

.footer__icon_vk:hover {
  fill: #5e99c3; }

.footer__icon_twitter:hover {
  fill: #69c4d9; }

@media screen and (max-width: 992px) {
  .secret__info {
    margin-left: 19px; }
  .footer__social {
    margin-right: 20px; } }

@media screen and (max-width: 576px) {
  .container-footer {
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    min-height: 114px; }
  .secret__info {
    margin: 0;
    width: 165px;
    text-align: center;
    margin-top: 9px; }
  .footer__social {
    margin: 0;
    margin-bottom: 13px; }
  .footer__item {
    margin-left: 0; }
    .footer__item:nth-child(even) {
      margin-left: 7px;
      margin-right: 7px; } }
