$lightBlack: #727272;
$black: #414141;
$grey: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;

@import "misc/fonts.scss";

.wrapper {
	min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
	flex: 1 0 auto;
    flex-flow: row wrap;
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}

/*MAIN__START*/

.portrait {
	width: 230px;
	height: 230px;
	border: 5px solid #fff;
	border-radius: 50%;
	background-color: $grey;
	overflow: hidden;
	margin-top: 4px;
}
.portrait__image {
	width: 100%;
}
.main {
	width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 40px;
}
.main__info {
	display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.main__header {
	@include firaSans(medium);
	font-size: 35px;
    line-height: 1.286;
    margin-bottom: 15px;
}
.main__text {
	@include firaSans(light);
	font-size: 18px;
	line-height: 26px;
    max-width: 380px;
    max-height: 286px;
    margin-bottom: 58px;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 1px;
}

.main__button {
	font-size: 14px;
	@include openSans(bold);
    line-height: 2;
    align-self: flex-end;
    color: $red;
    border: 2px solid $red;
    border-radius: 20px;
    background-color: $grey;
    padding: 4px 13px;
    transition: all 0.2s ease-in;
    margin-bottom: 106px;
    outline: none;
    cursor: pointer;
}
.main__button::before {
	content: "";
	display: inline-block;
	height: 14px;
	width: 14px;
	margin-right: 8px;
	background: url('../img/sprite.png') -17px -239px no-repeat;
	transition-delay: 0.1s;
}
.main__button:hover {
	color: #fff;
	background-color: $red;
}
.main__button:hover.main__button::before {
	content: "";
	background: url('../img/sprite.png') -17px -225px no-repeat;
}

//change scroll bar

.main__text::-webkit-scrollbar {
    width: 5px;
} 
.main__text::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 5px rgb(216, 216, 216);
    border-radius: 10px;
}
/*MAIN__END*/

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	.main {
		width: 100%;
    	max-width: 720px;
    	justify-content: space-around;
    	padding: 0;
	}
	.portrait {
		width: 175px;
		height: 175px;
		margin-left: 23px;
	}
	.main__header {
		margin-bottom: 13px;
	}
	.main__text {
		max-width: 430px;
		max-height: 364px;
	}
	.main__button {
		margin-right: 13px;
	}
}
@media screen and (max-width: 576px) {
	.container {
		max-width: 300px;
    	align-self: center;
	}
	.portrait {
		width: 150px;
		height: 150px;
		margin-left: 0;
		margin-bottom: 5px;
	}
	.main__info {
		align-items: center;
	}
	.main__text {
		font-size: 16px;
		line-height: 1.5;
		max-height: 405px;
		margin-bottom: 40px;
		padding-left: 0;
	}
	.main__header {
		margin-bottom: 4px;
	}
	.main__button {
		align-self: center;
		margin-right: 0;
		margin-bottom: 30px;
	}
}

