$lightBlack: #727272;
$black: #414141;
$grey: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;

@import "misc/fonts.scss";

.main-wrapper {
	flex: 1 0 auto;
}
/*MAIN__START*/
.portrait-wrapper {
	width: 44.44444%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.portrait {
	width: 230px;
	height: 230px;
	border: 5px solid #fff;
	border-radius: 50%;
	background-color: $grey;
	overflow: hidden;
}

.portrait__image {
	width: 100%;
}
.main {
	width: 75%;
    display: flex;
    flex-flow: row nowrap;
}
.info {
    width: 55.55555%;
}
.biography {
	display: flex;
    flex-direction: column;

}
.biography__title {
	@include firaSans(medium);
	font-size: 35px;
    line-height: 1.286;
    margin-bottom: 15px;
    padding-left: 10px;
}
.biography__text {
	@include firaSans(light);
	font-size: 18px;
	line-height: 1.4445;
    max-width: 380px;
    max-height: 286px;
    margin-bottom: 56px;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 12px;
}
//change scroll bar

.biography__text::-webkit-scrollbar {
    width: 5px;
} 
.biography__text::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 5px rgb(216, 216, 216);
    border-radius: 10px;
}
.button-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.main__button {
	font-size: 14px;
	@include openSans(bold);
    line-height: 2;
    color: $red;
    border: 2px solid $red;
    border-radius: 20px;
    background-color: $grey;
    padding: 4px 13px;
    transition: all 0.2s ease-in;
    margin-bottom: 105px;
    outline: none;
    cursor: pointer;
}
.button-icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 8px;
	fill: $red;
	transition: all 0.2s ease-in;
}
.main__button:hover {
	color: #fff;
	background-color: $red;
	.button-icon {
		fill: #fff;
	}
}

/*MAIN__END*/

@media screen and (max-width: 992px) {
	.container-main {
		flex-direction: column;
		align-self: center;
		padding: 0 20px;
	}
	.main {
		width: 100%;
	}
	.portrait-wrapper {
		width: 31.31868%;
	}
	.info {
		width: 68.68131%;
	}
	.portrait {
		width: 175px;
		height: 175px;
	}
	.biography__title {
		padding-left: 20px;
	}
	.biography__text {
		max-width: 430px;
		max-height: 364px;
		padding-left: 19px;
	}
	.main__button {
		margin-right: 64px;
	}
}
@media screen and (max-width: 576px) {
	.container-main {
		padding: 0px 10px;
	}
	.main {
		flex-direction: column;
		align-items: center;
	}
	.portrait-wrapper {
		width: 100%;
	}
	.portrait {
		width: 150px;
		height: 150px;
		margin-bottom: 6px;
	}
	.info {
		width: 100%;
	}
	.biography {
		align-items: center;
	}
	.biography__text {
		font-size: 16px;
		line-height: 1.5;
		max-height: 405px;
		margin-bottom: 39px;
		padding-left: 0;
	}
	.biography__title {
		padding: 0;
		margin-bottom: 4px;
	}
	.button-wrapper {
		justify-content: center;
	}
	.main__button {
		align-self: center;
		margin-right: 0;
		margin-bottom: 30px;
	}
}

