$lightBlack: #727272;
$black: #414141;
$grey: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;

@import "misc/fonts.scss";

.wrapper {
	min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
	flex: 1 0 auto;
	flex-flow: row wrap;
	display: flex;
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}
.main {
    width: 75%;
}
.main__header {
    font-size: 35px;
    @include firaSans(medium);
    line-height: 1.286;
    padding-left: 3px;
    margin-bottom: 23px;
}
.main__content {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.picture {
    width: 220px;
    height: 220px;
    border-radius: 9px;
    background-color: $grey;
    overflow: hidden;
    margin-left: 5px;
    margin-bottom: 20px;
    &__image {
        // width: 100%;
    }
}
.experience {
    width: 65%;
    display: flex;
    flex-flow: column;
}
.post {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 21px;
    cursor: pointer;
}
.post__year {
    align-self: center;
    @include firaSans(light);
    font-size: 14px;
    margin-left: 16px;
    transition: all 0.2s ease-in;
}
.post__circle {
    width: 10px;
    height: 10px;
    background-color: $blue;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    align-self: center;
    position: relative;
}
.post__content {
    display: flex;
    flex-direction: column;
    width: 82.6%;
    min-height: 107px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding-left: 19px;
    color: $lightBlack;
    transition: all 0.2s ease-in;
}
.post__circle::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 108px;
    top: 15px;
    left: 4px;
    background-color: #dddddd;
}
.post:last-child {
        .post__circle::before {
            display: none;
        }
}
.post__title {
    @include firaSans(regular);
    font-size: 21px;
    padding-top: 18px;
    padding-bottom: 7px;
}
.post__text {
    @include firaSans(light);
    font-size: 18px;
    margin-bottom: 9px;
}
.post:hover .post__content {
    color:#fff;
    background-color: $blue;
}
.post:hover .post__year {
    color: $blue;
    font-weight: 900;
    font-size: 17px;
}
.post:hover .post__circle {
    box-shadow: 0 0 0 5px #94e0f2;
}
@media screen and (max-width: 900px) {
    .main {
        width: 100%;
            &__content {
                flex-flow: row nowrap;
            } 
    }
    .post__content {
        flex-shrink: 1;
    }
}
@media screen and (max-width: 650px) {
    .main__header {
        text-align: center;
    }
    .main__content {
        flex-direction: column;
        align-items: center;
    }
    .experience {
        width: 100%;
    }
    .post__circle {
        margin: 10px;
    }
    .post__content {
        width: auto;
        flex: 1 1 auto;
    }
}