$lightBlack: #727272;
$black: #414141;
$grey: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;

@import 'misc/fonts.scss';

.main-wrapper {
    flex: 1 0 auto;
}
.main {
    width: 75%;
}
.main__header {
    font-size: 35px;
    line-height: 1.286;
    margin-bottom: 22px;
    padding-left: 3px;
    @include firaSans(medium);
}
.main__content {
    display: flex;
    flex-flow: row nowrap;
}
.sample-wrapper {
    width: 35%;
    display: flex;
    justify-content: center;
}
.sample {
    overflow: hidden;
    width: 220px;
    height: 220px;
    border-radius: 9px;
    background-color: $grey;
    background: url('../img/sample_low.jpg') no-repeat center center;
    background-size: cover;
}
.experience {
    width: 65%;
}
.experience__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.experience__item {
    width: 82.6%;
    max-width: 380px;
}
.post {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-left: 19px;
    transition: all .3s ease-in;
    color: $lightBlack;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}
.post::before {
    position: absolute;
    display: block;
    top: 50%;
    left: -22px;
    width: 1px;
    height: 120px;
    content: "";
    background-color: #ddd;
}
.experience__item:last-child {
    .post::before {
        display: none;
    }
    .post__period {
        margin-bottom: 44px;
    }
}
.experience__item:nth-last-child(2) {
    .post::before {
        height: 132px;
    }
}
.post__year {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: -63px;
    transition: all .3s ease-in;
    transform: translateY(-50%);
    @include firaSans(light);
}
.post__year::after {
    position: absolute;
    top: -3px;
    left: 32px;
    width: 10px;
    height: 10px;
    content: '';
    transition: all .3s ease-in;
    border: 5px solid $grey;
    border-radius: 50%;
    background-color: $blue;
}
.post:hover .post__year::after {
    border-color: #94e0f2;
    left: 43px;
    top: -2px;
}
.post__title {
    font-size: 21px;
    padding-top: 18px;
    margin-bottom: 7px;
    @include firaSans(regular);
}
.post__rank {
	font-size: 18px;
    margin-bottom: 9px;
    @include firaSans(light);
}
.post__period {
    font-size: 18px;
    margin-bottom: 16px;
    @include firaSans(light);
}
.post:hover {
    color: #fff;
    background-color: $blue;
}
.post:hover .post__year {
    font-size: 17px;
    left: -74px;
    font-weight: 900;
    padding: 0;
    color: #33c1e3;
}
@media screen and (max-width: 768px) {
    .header {
        margin-bottom: 7px;
    }
    .container-main {
        flex-direction: column;
        max-width: 728px;
        align-self: center;
    }
    .main {
        width: 100%;
        &__content {
            flex-flow: row nowrap;
        }
    }
    .sample-wrapper {
        justify-content: flex-start;
    }
    .sample {
        width: 228px;
        height: 227px;
    }
    .main__header {
        padding-left: 4px;
    }
    .post {
        flex-shrink: 1;
    }
    .experience {
    }
    .experience__item {
        max-width: 355px;
    }
}
@media screen and (max-width: 576px) {
    .nav {
        margin-bottom: 13px;
    }
    .container-main {
        max-width: 300px;
    }
    .main {
        padding-left: 0;
    }
    .main__header {
        padding-left: 0;
        text-align: center;
        margin-bottom: 14px;
    }
    .main__content {
        flex-direction: column;
        align-items: center;
    }
    .experience {
        width: 100%;
        padding-right: 0;
    }
    .experience__item {
        width: 100%;
    }
    .post {
        flex: 1 1 auto;
        padding-left: 21px;
    }
    .post__title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .post__rank {
        font-size: 16px;
        margin-bottom: 11px;
    }
    .post__period {
        font-size: 16px;
    }
    .sample-wrapper {
        width: 100%;
        justify-content: center;
    }
    .sample {
        width: 220px;
        height: 218px;
        margin-bottom: 20px;
    }
    .post::before, .post__year {
        display: none;
    }
    .experience__item:last-child {
        .post__period {
        margin-bottom: 42px;
        }
    }      
}
    