
.footer {
	width: 100%;
    background-color: $black;
    color: $lightBlack;
}
.container-footer {
	min-height: 50px;
	align-items: center;
}
.secret {
	display: flex;
	flex-direction: row;
}
.secret__info {
	display: block;
	font-size: 14px;
	line-height: 1.5;
	@include firaSans(regular);

	&::before {
		content: "\00a9";
		padding-right: 3px;
   		padding-left: 2px;
	}
}
.footer__social {
	margin-left: auto;
}
.footer__list {
	display: flex;
	flex-flow: row wrap;
}
.footer__item {
	margin-left: 7px;
}
.footer__icon {
	width: 31px;
	height: 30px;
	fill: #9c9c9c;
	transition: all .1s ease-in;
}
.footer__icon_facebook:hover {
	fill: #4462a8;
}
.footer__icon_vk:hover {
	fill: #5e99c3;
}
.footer__icon_twitter:hover {
	fill: #69c4d9;
}
@media screen and (max-width: 992px) {
    .secret__info {
        margin-left: 19px;
    }
    .footer__social {
        margin-right: 20px;
    }
}

@media screen and (max-width: 576px) {
	.container-footer {
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		min-height: 114px;
	}
	.secret__info {
		margin: 0;
		width: 165px;
    	text-align: center;
    	margin-top: 9px;
	}
	.footer__social {
		margin: 0;
		margin-bottom: 13px;
	}
	.footer__item {
		margin-left: 0;
			&:nth-child(even) {
				margin-left: 7px;
				margin-right: 7px;
		}
	}

}


