
.footer {
	width: 100%;
    background-color: $black;
    color: $lightBlack;
}
.footer__body {
	width: 100%;
    max-width: 940px;
    min-height: 50px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.footer__info {
	display: block;
	font-size: 	14px;
	line-height: 1.5;
	@include firaSans(regular);

	&::before {
		content: "\00a9";
		padding-right: 3px;
   		padding-left: 2px;
	}
}
.footer__social {
	margin-left: auto;
}
.footer__list {
	display: flex;
	flex-flow: row wrap;
}
.footer__item {
	margin-left: 7px;
}
.footer__link {
	display: block;
	width: 31px;
	height: 30px;
	background: url('../img/sprite.png');
}
$footerLink: vk, twitter, facebook;
	@each $type in $footerLink {
		.footer__link_#{$type} {
			@if $type == vk {
				background-position: 0 -150px;
					&:hover {
						background-position: 0 -120px;
					}
			} @else if $type == twitter {
				background-position: 0 -90px;
					&:hover {
						background-position: 0 -60px;
					}
			} @else if $type == facebook {
				background-position: 0 -30px;
					&:hover {
						background-position: 0 0;
					}
			}
		}
	}
@media screen and (max-width: 768px) {
    .footer__info {
        margin-left: 19px;
    }
    .footer__social {
        margin-right: 20px;
    }
}

@media screen and (max-width: 576px) {
	.footer__body {
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		min-height: 114px;
	}
	.footer__info {
		margin: 0;
		width: 165px;
    	text-align: center;
    	margin-top: 9px;
	}
	.footer__social {
		margin: 0;
		margin-bottom: 13px;
	}
	.footer__item {
		margin-left: 0;
			&:nth-child(even) {
				margin-left: 7px;
				margin-right: 7px;
		}
	}

}


