
.footer {
	width: 100%;
    background-color: $black;
    color: $lightBlack;
}
.footer__body {
	width: 100%;
    max-width: 940px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.footer__info {
	display: block;
	font-size: 	14px;
	@include firaSans(light);

	&::before {
		content: "\00a9";
		padding-right: 3px;
   		padding-left: 2px;
	}
}
.footer__social {

}
.footer__list {
	display: flex;
	flex-flow: row wrap;
	padding-top: 10px;
	padding-bottom: 10px;

	:last-child {
		margin-right: 0;
	}
}
.footer__item {
	margin-right: 7px;
}
.footer__link {
	display: block;
	width: 31px;
	height: 30px;
	background: url('../img/sprite.png');
}
$footerLink: vk, twitter, facebook;
	@each $type in $footerLink {
		.footer__link_#{$type} {
			@if $type == vk {
				background-position: 0 -150px;
					&:hover {
						background-position: 0 -120px;
					}
			} @else if $type == twitter {
				background-position: 0 -90px;
					&:hover {
						background-position: 0 -60px;
					}
			} @else if $type == facebook {
				background-position: 0 -30px;
					&:hover {
						background-position: 0 0;
					}
			}
		}
	}
