
.header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    margin-bottom: 21px;
}

.container-header {
    align-items: center;
    min-height: 80px;
}
.name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.avatar {
	width: 60px;
    height: 60px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(190, 190, 190);
    overflow: hidden;
    margin-right: 19px;
}
.avatar__image {
	width: 100%;
}
.name__title {
    @include firaSans(regular);
    font-size: 18px;
    color: $lightBlack;
    line-height: 1.5;
}
.communications {
	margin-left: auto;
    position: relative;
}
.contacts {
    margin-top: 3px;
}
.contacts__switcher {
	@include firaSans(bold);
    font-size: 18px;
    text-decoration: none;
    color: #33c1e3;
    padding-bottom: 1px;
    border-bottom: 1px dotted $blue;
    transition: all 0.1s 0.1s ease-in;
}
.contacts-wrapper {
    position: absolute;
    opacity: 0;
    top: 36px;
    left: -37px;
    border: 1px solid #dedede;
    padding-right: 11px;
    padding-top: 9px;
    padding-left: 46px;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.1s 0.1s ease-in;
    visibility: hidden;
}
.contacts-wrapper::before {
	content: "";
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    background: #fff;
    border: 1px solid #dedede;
    transform: rotate(42deg);
    border-right: 0;
    border-bottom: 0;
    top: -6px;
    left: 50%;
    margin-left: -4px;
}
.communications:hover .contacts-wrapper {
	opacity: 1;
	visibility: visible;
    z-index: 1000;
}
.communications:hover .contacts__switcher {
	color: $red;
	border-color: $red;
}
.contacts-mobile__link {
    text-decoration: none;
    display: none;
}
.contacts-mobile__icon {
    width: 31px;
    height: 31px;
    fill: $blue;
}

.contacts-mobile:hover {
    .contacts-mobile__link::after {
        color: $red;
    }
}

.communications::after {
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
}
.contacts__list {

}
.contacts__item {
	margin-bottom: 16px;
}
.contacts__list :last-child {
	margin-bottom: 7px;
}
.contacts-list__link {
    @include firaSans(light);
    font-size: 18px;
    position: relative;
    line-height: 1.556;
    display: block;
    text-decoration: none;
    color: $black;
}
.contacts__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: -29px;
    top: 4px;
    fill: $blue;
}
.contacts-list__link::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 20px;
    left: -15px;
}

@media screen and (max-width: 992px) {
    .header {
        margin-bottom: 6px;
    }
    .container {
        max-width: 928px;
        padding: 0;
    }
    .avatar {
        margin-left: 21px;
    }
    .contacts__switcher {
        margin-right: 20px;
    }
    .contacts-wrapper {
        padding-right: 2px;
        padding-left: 30px;
        left: -22px;
    }
    .contacts-list__link {
        font-size: 16px;
    }
}
@media screen and (max-width: 576px) {
    .header {
        margin-bottom: 11px;
    }
    .name__title {
        font-size: 14px;
        margin-top: 0px;
        width: 70px;
    }
    .avatar {
        margin-left: 10px;
    }
    .communications {
        margin-right: 11px;
    }
    .contacts, .contacts-wrapper {
        display: none;
    }
    .contacts-mobile__link {
        display: block;
    }
}
