
.nav {
	width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 14px;
    padding-left: 8px;
}
.nav__item {
	position: relative;
}

.nav__link {
	display: block;
	position: relative;
	@include firaSans(regular);
	font-size: 18px;
	text-decoration: none;
	line-height: 1.333;
	color: $lightBlack;
	margin-bottom: 21px;
	transition: all 0.1s ease-in;
}
.nav__link::before {
	content: "";
    position: absolute;
    display: block;
    width: 26px;
    height: 100%;
    left: -15px;
}
.nav__icon {
	width: 19px;
    height: 18px;
    position: absolute;
    left: -25px;
    top: 0;
    fill: $black;
    transition: all 0.1s ease-in;
}
.nav__icon_portfolio {
	left: -28px;
}
.nav__icon_career {
	top: 1px;
}
.nav__item:hover {
	.nav__icon {
		fill: $blue;
	}
	.nav__link {
	color: $blue;
}
}
$navPage: about, career, portfolio;
@each $type in $navPage {
	.wrapper-#{$type} {
		.nav__link_#{$type} {
			@include firaSans(bold);
			color: $blue;	
		}
		.nav__link_#{$type}::after {
			content: "";
			position: absolute;
			left: 100%;
			width: 6px;
			height: 44px;
			background-color: $blue;
			top: -11px;
    		margin-left: 24px;
		}
		.nav__icon_#{$type} {
			fill: $blue;
		}
	}
}
@media screen and (max-width: 768px) {
	.nav {
		width: 100%;
		padding-left: 19px;
		margin-bottom: 36px;
	}
	.nav__link {
		margin-bottom: 0;
	}
	.nav__list {
		width: 100%;
		flex-flow: row wrap;
		margin-top: 6px;
	}
	.nav__item  {
		margin-right: 54px;
	}
	.nav__link::after {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	.nav {
		padding: 0;
		margin-bottom: 20px;
	}
	.nav__list {
		padding: 0;
		justify-content: center;
	}
	.nav__item {
		margin-right: 18px;
	}
	.nav__link {
		font-size: 14px;
	}
	.nav__icon {
		display: none;
	}
}
